/*
/* Version: 1.0 
*/


/*-------- css code for responsive layout  --------*/


/*  To make Responsive
---------------------------------------------------------------------- /
* 1 - media screen and (max-width: 1750px)
*   2 - media screen and (max-width: 1680px)
*   3 - media screen and (max-width: 1280px)
*   4 - media screen and (max-width: 1199px)
*   5 - media screen and (max-width: 1024px)
*   6 - media screen and (max-width: 991px)
*   7 - media screen and (max-width: 767px)
*   8 - media screen and (max-width: 680px)
*   9 - media screen and (max-width: 480px)
*   10 - media screen and (max-width: 320px)
*
---------------------------------------------------------------------- */


/*  1 - media screen and (max-width: 1750px)
---------------------------------------------------------------------- */


/*  1 - media screen and (max-width: 1750px) End
---------------------------------------------------------------------- */


/*  2 - media screen and (max-width: 1680px)
---------------------------------------------------------------------- */


/*  2 - media screen and (max-width: 1680px) End
---------------------------------------------------------------------- */


/*  3 - media screen and (max-width: 1280px)
---------------------------------------------------------------------- */


/*  3 - media screen and (max-width: 1280px) End
---------------------------------------------------------------------- */


/*  4 - media screen and (max-width: 1199px)
---------------------------------------------------------------------- */


/*  4 - media screen and (max-width: 1199px) End
---------------------------------------------------------------------- */


/*  5 - media screen and (max-width: 1024px)
---------------------------------------------------------------------- */


/*  5 - media screen and (max-width: 1024px) End
---------------------------------------------------------------------- */


/*  6 - media screen and (max-width: 991px)
---------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {
    /*    header & Menu
    ---------------------*/
    .menuzord {
        float: none;
        text-align: center;
    }
    .menuzord-brand {
        float: none;
    }
    .menuzord-menu>li {
        float: none;
    }
    /*    Home Banner
    -------------------*/
    .home-banner-content h1 {
        margin-top: 160px;
    }
    /*    Feature
    -----------------*/
    .feature-content-tab .carousel .feature-carousel-list {
        margin-top: 50px!important;
    }
    .feature-carousel-list>li {
        margin: 0 auto;
    }
    .feature-content-tab .carousel .feature-carousel-list li::after {
        display: none;
    }
    .tab-content {
        margin-top: 75px!important;
        margin-left: 15px;
        margin-right: 15px;
    }
    .tab-content h3 {
        font-size: 24px!important;
    }
    /*    Why Us
    -------------*/
    .why-us-content {
        margin-top: 50px!important;
    }
    .why-us-app img {
        margin: 0 auto;
    }
    /*    Screenshot
    -----------------------*/
    .tab-list {
        margin-top: 50px!important;
    }
    .img_cont {
        text-align: center;
    }
    .screenshot-content {
        text-align: left;
    }
    .screenshot-slider .tab-mocup {
        margin-top: 50px!important;
    }
    /*    Review
    ----------------*/
    .clients-reviews {
        margin-top: 50px!important;
    }
    /*    Counter
    --------------------*/
    .counter-content {
        padding: 50px 0!important;
    }
    /*    Price
    -----------------*/
    .pricing-table {
        margin-top: 50px!important;
    }
    .price,
    .price-btn {
        float: none!important;
    }
    /*    Blog
    ----------------*/
    .blog-post {
        margin-top: 50px;
        width: 100%;
    }
    .blog-post img {
        width: 100%;
        margin: 0px !important;
    }
    /*    Store Download
    ------------------------*/
    .store-app-download a {
        margin: 15px 15px!important;
        padding: 20px 50px!important;
        font-size: 16px!important;
    }
    .app-store h2 {
        margin-top: 50px!important;
    }
    /*    Contact
    -----------------*/
    .contact-form {
        margin-top: 50px;
    }
    /*    Footer
    -------------------*/
    .copy-right p {
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-social {
        text-align: center!important;
    }
    .admin-bar .header {
        top: 46px;
    }
    .admin-bar .header.sticky {
        top: 0;
    }
    .img-dosrusos {
        margin-left: 555px !important;
    }
    .text-dosrusos {}
    .copy-right {}
    .text-footer {}
    .logo-nuevo {
        margin-left: 0px !important;
    }
}




/*  6 - media screen and (max-width: 991px) End
---------------------------------------------------------------------- */


/*  7 - media screen and (max-width: 767px)
---------------------------------------------------------------------- */

@media (min-width: 680px) and (max-width: 767px) {
    .section-padding {
        padding: 120px 0!important;
    }
    .heading h1,
    .heading h2 {
        font-size: 30px!important;
        line-height: 40px;
    }
    .slider-padding {
        padding: 80px 0 0;
    }
    /*    Menu
    -------------*/
    .kite-nav ul li a span::before {
        display: none;
    }
    .kite-nav ul li {
        padding: 0;
    }
    .kite-nav ul li a:hover span,
    .kite-nav ul li a:focus span,
    .kite-nav ul li a.active span {
        transform: translateY(0%);
    }
    .download-btn {
        display: none!important;
    }
    /*    Home Banner
    -------------------*/
    .home-banner-content h1 {
        font-size: 42px;
        line-height: 50px;
    }
    /*    Feature
    -----------------*/
    .feature-content-tab .carousel .feature-carousel-list {
        margin-top: 50px!important;
    }
    .feature-carousel-list>li {
        margin: 0 auto;
    }
    .feature-content-tab .carousel .feature-carousel-list li::after {
        display: none;
    }
    .tab-content {
        margin-top: 75px!important;
        margin-left: 15px;
        margin-right: 15px;
    }
    .tab-content h3 {
        font-size: 24px!important;
    }
    /*    Why Us
    -------------*/
    .why-us-content {
        margin-top: 50px!important;
    }
    .why-us-app {
        top: 30px!important;
    }
    .why-us-app img {
        margin: 0 auto;
    }
    /*    Screenshot
    -----------------------*/
    .tab-list {
        margin-top: 50px!important;
    }
    .screenshot-content {
        text-align: left;
    }
    .screenshot-slider .tab-mocup {
        margin-top: 50px!important;
    }
    /*    Review
    ----------------*/
    .clients-reviews {
        margin-top: 50px!important;
    }
    /*    Counter
    --------------------*/
    .counter-content {
        padding: 50px 0!important;
    }
    /*    Price
    -----------------*/
    .pricing-table {
        margin-top: 50px!important;
    }
    /*    Blog
    ----------------*/
    .blog-post {
        margin-top: 50px;
    }
    .blog-post img {
        width: 100%;
    }
    /*    Store Download
    ------------------------*/
    .store-app-download a {
        margin: 15px 15px!important;
        padding: 20px 50px!important;
    }
    .app-store h2 {
        margin-top: 50px!important;
    }
    /*    Contact
    -----------------*/
    .contact-form {
        margin-top: 50px;
    }
    /*    Footer
    -------------------*/
    .copy-right p {
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-social {
        text-align: center!important;
    }
    .admin-bar .header {
        top: 46px;
    }
    .admin-bar .header.sticky {
        top: 0;
    }
}




/*  7 - media screen and (max-width: 767px) End
---------------------------------------------------------------------- */


/*  8 - media screen and (max-width: 680px)
---------------------------------------------------------------------- */

@media (min-width: 480px) and (max-width: 679px) {
    .section-padding {
        padding: 80px 0!important;
    }
    .heading h1,
    .heading h2 {
        font-size: 30px!important;
        line-height: 40px;
    }
    .slider-padding {
        padding: 80px 0 0;
    }
    /*    Menu
    -------------*/
    .kite-nav ul li a span::before {
        display: none;
    }
    .kite-nav ul li {
        padding: 0;
    }
    .kite-nav ul li a:hover span,
    .kite-nav ul li a:focus span,
    .kite-nav ul li a.active span {
        transform: translateY(0%);
    }
    .download-btn {
        display: none!important;
    }
    /*    Home Banner
    -------------------*/
    .home-banner-content h1 {
        font-size: 42px;
        line-height: 50px;
    }
    /*    Feature
    -----------------*/
    .feature-content-tab .carousel .feature-carousel-list {
        margin-top: 50px!important;
    }
    .feature-carousel-list>li {
        margin: 0 auto;
    }
    .feature-content-tab .carousel .feature-carousel-list li::after {
        display: none;
    }
    .tab-content {
        margin-top: 75px!important;
        margin-left: 15px;
        margin-right: 15px;
    }
    .tab-content h3 {
        font-size: 24px!important;
    }
    /*    Why Us
    -------------*/
    .why-us-content {
        margin-top: 50px!important;
    }
    .why-us-app {
        top: 30px!important;
    }
    .why-us-app img {
        margin: 0 auto;
    }
    /*    Screenshot
    -----------------------*/
    .tab-list {
        margin-top: 50px!important;
    }
    .screenshot-content {
        text-align: left;
    }
    .screenshot-slider .tab-mocup {
        margin-top: 50px!important;
    }
    /*    Review
    ----------------*/
    .clients-reviews {
        margin-top: 50px!important;
    }
    /*    Counter
    --------------------*/
    .counter-content {
        padding: 50px 0!important;
    }
    /*    Price
    -----------------*/
    .pricing-table {
        margin-top: 50px!important;
    }
    /*    Blog
    ----------------*/
    .blog-post {
        margin-top: 50px;
    }
    .blog-post img {
        width: 100%;
    }
    /*    Store Download
    ------------------------*/
    .store-app-download a {
        margin: 15px 15px!important;
        padding: 20px 50px!important;
    }
    .app-store h2 {
        margin-top: 50px!important;
    }
    /*    Contact
    -----------------*/
    .contact-form {
        margin-top: 50px;
    }
    /*    Footer
    -------------------*/
    .copy-right p {
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-social {
        text-align: center!important;
    }
    #content .wpb_alert p:last-child,
    #content .wpb_text_column *:last-child,
    #content .wpb_text_column p:last-child,
    .vc_message_box>p:last-child,
    .wpb_alert p:last-child,
    .wpb_text_column *:last-child,
    .wpb_text_column p:last-child {
        margin-bottom: 20px!important;
    }
    /*    Blog
-------------------*/
    .blog-two-feature .blog-tags .social-media a {
        margin: 0!important;
        padding: 0 10px!important;
    }
    .pull-right {
        float: left!important;
    }
    .why-us-content p {
        margin-left: 15px;
        margin-right: 15px;
    }
    .app-store-content p {
        margin-left: 15px!important;
        margin-right: 15px!important;
    }
    .admin-bar .header {
        top: 46px;
    }

    .admin-bar .header.sticky {
        top: 0;
    }
}




/*  8 - media screen and (max-width: 680px) End
---------------------------------------------------------------------- */


/*  9 - media screen and (max-width: 480px)
---------------------------------------------------------------------- */

@media (min-width: 360px) and (max-width: 479px) {
    .section-padding {
        padding: 80px 0!important;
    }
    .heading h1,
    .heading h2 {
        font-size: 30px!important;
        line-height: 40px;
    }
    /*    Menu
    -------------*/
    .kite-nav ul li a span::before {
        display: none;
    }
    .kite-nav ul li {
        padding: 0;
    }
    .kite-nav ul li a:hover span,
    .kite-nav ul li a:focus span,
    .kite-nav ul li a.active span {
        transform: translateY(0%);
    }
    .download-btn {
        display: none!important;
    }
    /*    Home Banner
    -------------------*/
    .home-banner-content h1 {
        font-size: 42px;
        line-height: 50px;
    }
    /*    Feature
    -----------------*/
    .feature-content-tab .carousel .feature-carousel-list {
        margin-top: 50px!important;
    }
    .feature-carousel-list>li {
        margin: 0 auto;
    }
    .feature-content-tab .carousel .feature-carousel-list li::after {
        display: none;
    }
    .tab-content {
        margin-top: 75px!important;
        margin-left: 15px;
        margin-right: 15px;
    }
    .tab-content h3 {
        font-size: 24px!important;
    }
    /*    Why Us
    -------------*/
    .why-us-content {
        margin-top: 50px!important;
        margin: 120px;
    }
    .imgrespon {
        width: 122px;
    }

    .img_cont {
        margin-left: 135px;
    }

    .woman_background {
        margin-top: -177px;
        padding-top: 227px;
    }

    .why-us-app {
        top: 30px!important;
    }
    .why-us-app img {
        margin: 0 auto;
    }
    /*    Screenshot
    -----------------------*/
    .tab-list {
        margin-top: 50px!important;
    }
    .screenshot-content {
        text-align: left;
    }
    .screenshot-slider .tab-mocup {
        margin-top: 50px!important;
    }
    /*    Review
    ----------------*/
    .clients-reviews {
        margin-top: 50px!important;
    }
    /*    Counter
    --------------------*/
    .counter-content {
        padding: 50px 0!important;
    }
    /*    Price
    -----------------*/
    .pricing-table {
        margin-top: 50px!important;
    }
    /*    Blog
    ----------------*/
    .blog-post {
        margin-top: 50px;
    }
    .blog-post img {
        width: 100%;
    }
    /*    Store Download
    ------------------------*/
    .store-app-download a {
        margin: 15px 15px!important;
        padding: 20px 50px!important;
    }
    .app-store h2 {
        margin-top: 50px!important;
    }
    /*    Contact
    -----------------*/
    .contact-form {
        margin-top: 50px;
    }
    /*    Footer
    -------------------*/
    .copy-right p {
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-social {
        text-align: center!important;
    }
    #content .wpb_alert p:last-child,
    #content .wpb_text_column *:last-child,
    #content .wpb_text_column p:last-child,
    .vc_message_box>p:last-child,
    .wpb_alert p:last-child,
    .wpb_text_column *:last-child,
    .wpb_text_column p:last-child {
        margin-bottom: 20px!important;
    }
    /*    Blog
-------------------*/
    .blog-img {
        margin: 0 20px!important;
    }
    .blog-meta-content-inner {
        padding: 40px 20px!important;
    }
    .view-comment img {
        position: relative!important;
    }
    .view-comment .view-comment-text {
        margin-left: 0!important;
    }
    .blog-two-feature .blog-tags .social-media a {
        margin: 0!important;
        padding: 0 10px!important;
    }
    .pull-right {
        float: left!important;
    }
    .wizard-form .feature-post {
        padding: 50px 20px!important;
    }
    .gravatar {
        margin-bottom: 20px;
    }
    .why-us-content p {
        margin-left: 15px;
        margin-right: 15px;
    }
    .app-store-content p {
        margin-left: 15px!important;
        margin-right: 15px!important;
    }
    .admin-bar .header {
        top: 46px;
    }
    .admin-bar .header.sticky {
        top: 0;
    }

    .blog-meta-content-inner-home {
        padding: 0 20px 20px!important;
    }
    .blog-img-home {
        margin: 0 20px 20px!important;
    }
    .blog-two-section-home .sticky:before {
        right: 20px!important;
        top: -35px;
    }
    .pagination {
        margin-bottom: 40px!important;
        padding: 0!important;
    }
}




/*  9 - media screen and (max-width: 360px) End
---------------------------------------------------------------------- */


/*  10 - media screen and (max-width: 320px)
---------------------------------------------------------------------- */

@media screen and (max-width: 475px) {
    .section-padding {
        padding: 80px 0!important;
    }
    .heading h1,
    .heading h2 {
        font-size: 30px!important;
        line-height: 40px;
    }
    .slider-padding {
        padding: 80px 0 0;
    }
    /*    Menu
    -------------*/
    .kite-nav ul li a span::before {
        display: none;
    }
    .kite-nav ul li {
        padding: 0;
    }
    .kite-nav ul li a:hover span,
    .kite-nav ul li a:focus span,
    .kite-nav ul li a.active span {
        transform: translateY(0%);
    }
    .download-btn {
        display: none!important;
    }
    /*    Home Banner
    -------------------*/
    .home-banner-content h1 {
        font-size: 42px;
        line-height: 50px;
    }
    /*    Feature
    -----------------*/
    .feature-content-tab .carousel .feature-carousel-list {
        margin-top: 50px!important;
    }
    .tab-mocup {
        width: 100%;
    }
    #screenshotCarousel,
    #featureCarousel {
        left: 18px;
        top: 65px;
    }
    #featureCarousel img {
        width: 280px;
    }
    #screenshotCarousel img {
        width: 280px;
    }
    .feature-carousel-list>li {
        margin: 0 auto;
    }
    .feature-content-tab .carousel .feature-carousel-list li::after {
        display: none;
    }
    .tab-content {
        margin-top: 75px!important;
        margin-left: 15px;
        margin-right: 15px;
    }
    .tab-content h3 {
        font-size: 24px!important;
    }
    /*    Why Us
    -------------*/
    .why-us-content {
        margin-top: 50px!important;
    }
    .why-us-app {
        top: 30px!important;
    }
    .why-us-app img {
        margin: 0 auto;
    }
    /*    Screenshot
    -----------------------*/
    .tab-list {
        margin-top: 50px!important;
    }
    .screenshot-content {
        text-align: left;
    }
    .screenshot-slider .tab-mocup {
        margin-top: 50px!important;
    }
    /*    Review
    ----------------*/
    .clients-reviews {
        margin-top: 50px!important;
    }
    /*    Counter
    --------------------*/
    .counter-content {
        padding: 50px 0!important;
    }
    /*    Price
    -----------------*/
    .pricing-table {
        margin-top: 50px!important;
    }
    /*    Blog
    ----------------*/
    .blog-post {
        margin-top: 50px;
    }
    .blog-post img {
        width: 100% !important;
        margin-left: 0px !important;
    }
    /*    Store Download
    ------------------------*/
    .store-app-download a {
        margin: 15px 15px!important;
        padding: 20px 50px!important;
    }
    .app-store h2 {
        margin-top: 50px!important;
    }
    /*    Contact
    -----------------*/
    .contact-form {
        margin-top: 50px;
    }

    .img_backhand {}
    /*    Footer
    -------------------*/
    .copy-right p {
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-social {
        text-align: center!important;
    }
    #content .wpb_alert p:last-child,
    #content .wpb_text_column *:last-child,
    #content .wpb_text_column p:last-child,
    .vc_message_box>p:last-child,
    .wpb_alert p:last-child,
    .wpb_text_column *:last-child,
    .wpb_text_column p:last-child {
        margin-bottom: 20px!important;
    }
    /*    Blog
-------------------*/
    .blog-img {
        margin: 0 20px!important;
    }
    .blog-meta-content-inner {
        padding: 40px 20px!important;
    }
    .view-comment img {
        position: relative!important;
    }
    .view-comment .view-comment-text {
        margin-left: 0!important;
    }
    .blog-two-feature .blog-tags .social-media a {
        margin: 0!important;
        padding: 0 7px!important;
    }
    .wizard-form .feature-post {
        padding: 50px 20px!important;
    }
    .gravatar {
        margin-bottom: 20px;
    }
    .why-us-content p {
        margin-left: 15px;
        margin-right: 15px;
    }
    .app-store-content p {
        margin-left: 15px!important;
        margin-right: 15px!important;
    }
    .admin-bar .header {
        top: 46px;
    }
    .admin-bar .header.sticky {
        top: 0;
    }

    .blog-meta-content-inner-home {
        padding: 0 20px 20px!important;
    }
    .blog-img-home {
        margin: 0 20px 20px!important;
    }
    .blog-two-section-home .sticky:before {
        right: 20px!important;
        top: -35px;
    }
    .pagination {
        margin-bottom: 40px!important;
        padding: 0!important;
    }
}




/*  10 - media screen and (max-width: 320px)
---------------------------------------------------------------------- */


/*---------------------------------------------------------------*/


/* Retina */


/*---------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .default-logo {
        display: none !important;
    }
    .retina-logo {
        display: inline-block !important;
    }
}




/*  Collapse Menu in Tab
---------------------------------------------------------------------- */

@media (max-width: 992px) {
    .navbar-header {
        float: none;
        background: linear-gradient(to right, #202040, #508a50);
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .img_backhand {
        width: 128% !important
    }
    .punto-map {
        padding-left: 0px !important;
    }
    .text-icons {
        width: 19% !important;
        margin-left: 210px !important;
        margin-top: -39px !important;
    }
    .phone-call {
        padding-left: 240px !important;
    }
    .text-icons2 {
        width: 13% !important;
        margin-left: 450px !important;
    }
    .mail-send {
        padding-left: 448px !important;
    }
    .text-icons3 {
        margin-left: 665px !important;
        margin-top: -50px !important;
    }
}

@media (max-width: 1199px) {
    .carousel-inner{
        width: 145% !important;
        margin-top: 30px !important;
    }
    .imgrespon {
        height: 45px !important;
    }
    .copy-right {
        width: 130% !important;
        margin-left: -140px !important;
    }
    .text-footer {
        margin-left: 810px !important;
    }
    .text-dosrusos {
        margin-left: 890px !important;
        margin-top: -50px !important;
    }
    .img-dosrusos {
        margin-left: 684px;
        margin-top: -51px;
    }
    .texto-ruso {
        margin-left: -30px;
    }
}

@media (min-width: 333px) and (max-width: 768px) {
    .img-responsive {
        width: 100% !important;
        margin: -30px !important;
    }
    .img_cont {
        text-align: center;
    }
    .status-number {
        width: 100% !important margin-left: 0px !important;
    }
    .img-dosrusos {
        margin-left: 480px !important;
    }
}

@media (min-width: 333px) and (max-width: 425px) {
    .woman_background {
        height: 270px !important;
        margin-top: 50px!important;
    }
    .blog-post {
        width: 50% !important;
        margin-left: 100px !important;
    }
    .img_cont {
        width: 25%;
    }
    .status-number {
        width: 100% !important;
        margin: 0px !important;
    }
    .bg-m-light3 {
        padding-top: 27px !important;
    }
    .bg-m-dark2 {
        padding-top: 27px !important;
    }
}

@media (min-width: 333px) and (max-width: 375px) {
    .counter-number {
        font-size: 40px !important;
    }
}

@media (min-width: 333px) and (max-width: 762px) {
    .text-dosrusos{

    }
    .img-dosrusos{

    }
    .text-footer{

    }
    .copy-right{

    }
    .status-number{
        width: 100% !important;
        margin-left: 0px !important;
    }
    .blog-post{
        width: 25%;
        margin-left: 300px !important;
    }
    .woman_background{
        height: 250px !important;
    }

}
