/*  
Theme Name: Kite
Theme URI: http://www.gsrthemes.com
Version: 1.0.0
Description: Created by <a href="http://www.gsrthemes.com">gsrthemes9</a>
Author: <a href="http://www.gsrthemes.com">gsrthemes9</a>
Author URI: <a href="http://www.gsrthemes.com">gsrthemes9</a>
Tags: custom-background, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
License: GNU General Public License
License URI: license.txt
Text Domain: kite

---------*/


/**
* Table of Contents
* # Reset
* # Global
* # Youtube Video
* # header
* # Home Banner
* # Feature
* # Why Us
* # Screenshot
* # Reviews
* # Counter
* # Pricing
* # Subscribe
* # Blog
* # App store
* # Contact
* # Footer
* # Blog Page Header
* # Blog Page
* # Single Blog Page
* # Sign Up
* # Faq
* # Wordpress core
* # Widget
* # Pagination
* # Custom
**/

body,
html {
    overflow-x: hidden;
}

body {
    font-size: 14px;
    color: #303030;
}



/*  Reset
-----------------*/

::selection {
    color: #ffffff;
    text-shadow: none;
}

::-moz-selection {
    background: #ff2a40;
    color: #ffffff;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin: 0px;
}

a,
button {
    outline: none!important;
    text-decoration: none!important;
    color: #ff2a40;
    transition: all 0.4s ease-in-out 0s;
}

a:hover,
button:hover,
a:focus,
button:focus,
a.active,
button.active {
    color: #303030;
    outline: none!important;
    text-decoration: none!important;
}

ul {
    /*  padding: 0px;*/
}

li {
    /*  list-style: none;*/
}



/*  Global
-------------------*/

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.section-padding {
    padding: 60px 0px;
}

.color-green {
    color: #ff2a40;
}

.color-white {
    color: #ffffff;
}

.bg-m-light1 {
    background: #174c42 !important;
    width: 25%;
    margin-right: -4px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.bg-m-light3 {
    background: #174c42 !important;
    width: 25%;
    margin-right: -4px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.bg-m-dark2 {
    background: #1e4e43 !important;
    width: 25%;
    margin-right: -4px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.bg-m-dark4 {
    background: #1e4e43 !important;
    width: 25%;
    margin-right: -4px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.pattern-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.heading {
    padding: 0px 15px;
    margin-top: 70px;
    background-color: #f6f6f6;
    margin-left: -30px;
    width: 106%;
}

.heading .sup-head {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.heading h1,
.heading h2 {
    font-size: 36px;
    color: #ffffff;
    position: relative;
    font-weight: 700;
    margin-top: 30px;
}

.custom-input {
    box-shadow: none;
    border: none;
}

.custom-input:hover,
.custom-input:focus,
.custom-input.active {
    border: none;
    box-shadow: none;
}

.heading-underline {
    background: #ffffff;
    height: 1px;
    margin: 0 auto;
    max-width: 150px;
    position: relative;
}

.heading-underline:before {
    background: #ffffff;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -5px;
    width: 75px;
}

.heading-underline:after {
    background: #ffffff;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 75px;
}

.more-btn {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #ff2a40;
    transition: all 0.4s ease-in 0s;
}

.more-btn:hover,
.more-btn:focus,
.more-btn.active {
    color: #303030;
}



/*  Youtube Video
-------------------------*/

.buttonBar {
    display: none;
}



/*  header
----------------*/

.header {
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #ffffff;
    transition: all 0.4s ease 0s;
    padding: 20px 0px;
    margin: 0;
    padding: 0;
    height: 2vw;
}

.header.sticky {
    padding: 10px 0px;
}

.header.sticky .menizord-brand {
    margin-top: 5px;
}

.menuzord .showhide {
    padding-top: 20px;
}

.menuzord .showhide em {
    background: #ff2a40;
}

.kite-nav {
    top: 0px;
}

.kite-nav ul li {
    padding: 15px 0px;
}

.kite-nav ul li a {
    overflow: hidden;
    padding: 0 15px;
    font-weight: 700;
    color: #101010;
    line-height: 20px;
}

.kite-nav ul li a span {
    font-weight: 700;
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    transition: transform 0.3s;
    text-transform: none;
    -moz-transition: -moz-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}

.kite-nav ul li a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.kite-nav ul li a:hover span,
.kite-nav ul li a:focus span,
.kite-nav ul li a.active span {
    color: #ff2a40;
    font-weight: 700;
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.kite-nav .dropdown {
    z-index: -1 !important;
    padding-bottom: 20px!important;
}

.kite-nav .dropdown li a {
    padding: 0px 25px 0px 22px!important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400!important;
    color: #303030 !important;
}

.kite-nav .dropdown li a:hover,
.kite-nav .dropdown li a:focus,
.kite-nav .dropdown li a.active {
    color: #ff2a40 !important;
}

.download-btn {
    padding: 5px 0px!important;
}

.download-btn a {
    line-height: 18px!important;
    background: #ff2a40!important;
    padding: 10px 30px!important;
    border-radius: 50px!important;
    color: #ffffff !important;
    padding: 10px 30px !important;
}

.download-btn a:hover {
    line-height: 18px!important;
    background: #ff2a40!important;
    padding: 10px 30px!important;
    border-radius: 50px!important;
    color: #ffffff !important;
    padding: 10px 30px !important;
}

.menuzord-brand {
    margin: 0px 15px 0px 0px;
}

.navbar-brand {
    margin: 0px 15px 0px 0px!important;
    float: left;
    color: #666;
    text-decoration: none;
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-weight: 700;
    line-height: 20px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ff2a40;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #ff2a40;
    background-color: transparent;
}

.dropdown-menu>li {
    border: 0 none;
    clear: both;
    font-size: 13px;
    position: relative;
    width: 100%;
}

.dropdown-menu>li>a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    clear: both;
    color: #888;
    display: inline-block;
    float: left;
    outline: 0 none;
    padding: 10px 25px 10px 22px;
    position: relative;
    text-decoration: none;
    transition: padding 0.2s linear 0s;
    width: 100%;
}

.dropdown-menu>li>a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    clear: both;
    color: #888;
    display: inline-block;
    float: left;
    outline: 0 none;
    padding: 10px 25px 10px 22px;
    position: relative;
    text-decoration: none;
    transition: padding 0.2s linear 0s;
    width: 100%;
}

.dropdown-menu>li>a:hover {
    color: #ff2a40;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #ff2a40;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.dropdown ul li ul {
    display: none!important;
}

.dropdown ul li:hover ul {
    display: block!important;
    position: absolute;
    left: 100%;
    border-left: solid 3px #fff;
    top: 0;
    width: auto;
    margin-top: -6px!important;
}



/*  Home Banner
---------------------*/

.home-banner {
    background: url(assets/images/bg/home-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-position: center;
}

.home-banner-content {
    max-width: 875px;
    margin: 0 auto;
}

.home-banner-content h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 75px;
    margin-top: 100px;
}

.home-banner-content p {
    color: #909090;
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
}

.download-link {
    background: #ff2a40;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 15px 50px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

.download-link:hover,
.download-link:focus,
.download-link.active {
    color: #ffffff;
    background: #303030;
}

.store {
    margin-top: 20px;
}

.store span {
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

.store i {
    font-size: 30px;
    padding: 0px 10px;
}



/*  Feature
-----------------*/

.feature {
    background: url("assets/images/bg/feature-bg.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.feature-overlay {
    background: #323c46;
    height: 100%;
    left: 0;
    opacity: 0.90;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.feature-content-tab .carousel .feature-carousel-list {
    margin-top: 285px;
}

.feature-content-tab .carousel .feature-carousel-list li {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px 0;
    width: 80%;
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: all 0.4s ease 0s;
    position: relative;
}

.feature-content-tab .carousel .feature-carousel-list li:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 24px solid transparent;
    content: "";
    height: 30px;
    position: absolute;
    right: -30px;
    width: 30px;
    z-index: 1;
    top: 0;
    transition: all 0.4s ease 0s;
}

.feature-content-tab .carousel .feature-carousel-list li:hover,
.feature-content-tab .carousel .feature-carousel-list li:focus,
.feature-content-tab .carousel .feature-carousel-list li.active {
    color: #ffffff;
    padding-left: 15px;
    background: #ff2a40;
    transition: all 0.4s ease 0s;
}

.feature-content-tab .carousel .feature-carousel-list li:hover:after,
.feature-content-tab .carousel .feature-carousel-list li:focus:after,
.feature-content-tab .carousel .feature-carousel-list li.active:after {
    border-left: 20px solid #ff2a40;
}

.tab-list {
    margin-top: 100px;
}

.tab-list li {
    display: block;
    width: 100%;
}

.tab-list li a {
    display: inline-block;
}

.tab-mocup-slider {
    text-align: center;
}

.tab-mocup {
    display: inline-block;
    margin-top: 100px;
    position: relative;
    text-align: center;
}

#screenshotCarousel,
#featureCarousel {
    left: 20px;
    position: absolute;
    top: 75px;
}

.tab-content {
    background: #ffffff none repeat scroll 0 0;
    margin-top: 185px;
    padding: 20px 18px 0 30px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border-bottom: 4px solid #ff2a40;
}

.tab-content h3 {
    font-size: 30px;
    color: #ff2a40;
    position: relative;
    font-weight: 700;
}

.tab-content h3 i {
    border-bottom: 3px solid;
    margin-right: 15px;
    padding-bottom: 15px;
}

.tab-content p {
    font-size: 14px;
    margin-top: 38px;
    color: #909090;
}

.tab-content .tab-text {
    padding-bottom: 36px;
    padding-top: 10px;
}

.tab-content .tab-text ul {
    padding-top: 16px;
    padding-bottom: 4px;
}

.tab-content .tab-text ul li {
    color: #909090;
    font-size: 14px;
    padding-bottom: 16px;
    list-style: none;
}

.tab-content .tab-text ul li i {
    font-size: 14px;
    color: #ff2a40;
    margin-right: 15px;
    padding-left: 2px;
}



/*   Why Us
-------------------*/

.why-us {
    background: url(assets/images/bg/why-us.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-color: #
}

.why-us .heading h2 {
    color: #909090;
    padding-bottom: 45px;
    margin: 0px;
}

.why-us .heading .sup-head {
    color: #909090;
}

.why-us .heading .heading-underline {
    background: #303030;
    margin-bottom: 20px;
}

.why-us .heading .heading-underline:before,
.why-us .heading .heading-underline:after {
    background: #303030;
}

.why-us-content {
    text-align: left;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
    margin: 0;
}

.why-us-content img {
    height: 60px;
    margin: 0;
    padding: 0 7vw;
}

.why-us-content i {
    background: #ff2a40;
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.4s ease 0s;
}

.why-us-content h3 {
    color: #395e5c;
    text-align: center;
}

.why-us-content p {
    margin-top: 20px;
}

.why-us-content:hover i {
    background: transparent;
    color: #ff2a40;
    border: 1px solid #ff2a40;
}

.why-us-app {
    float: right;
    top: 15px;
}



/*  Screenshot
----------------------*/

.screenshot {
    background: url(assets/images/bg/screenshot-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.screenshot .heading h2 {
    color: #ffffff;
}

.screenshot .heading .sup-head {
    color: #ffffff;
}

.screenshot .heading .heading-underline {
    background: #ffffff;
}

.screenshot .heading .heading-underline:before,
.screenshot .heading .heading-underline:after {
    background: #ffffff;
}

.screenshot-overlay {
    background: #252f37;
    height: 100%;
    left: 0;
    opacity: 0.94;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.screenshot-slider .tab-mocup {
    margin-top: 150px;
}

.screenshot-content.text-right i {
    margin-left: 15px;
    margin-right: 0;
}

.screenshot-desc {
    border-radius: 5px;
    padding: 30px;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    z-index: 0;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 0px 30px transparent;
}

.screenshot-desc:after {
    background: #ffffff;
    content: "";
    height: 0%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
    border-radius: 5px 0 0 5px;
    transition: all 200ms ease-in;
    border-radius: 5px;
}

.screenshot-desc:before {
    background: #ff2a40;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0%;
    z-index: -1;
    transition: all 200ms ease-in;
    border-radius: 5px;
}

.screenshot-desc h3 {
    margin: 0px;
    font-weight: 400;
    font-size: 24px;
    color: #ff2a40;
    transition: all 200ms ease;
}

.screenshot-desc h3 i {
    margin-right: 10px;
    color: #ff2a40;
}

.screenshot-desc p {
    margin: 0px;
    color: #f0f0f0;
    padding-top: 15px;
}

.screenshot-desc:hover:after {
    height: 100%;
}

.screenshot-desc:hover:before {
    width: 100%;
}

.screenshot-desc:hover h3 {
    color: #ffffff;
    transition: all 400ms ease;
}

.screenshot-desc:hover h3 i {
    color: #ffffff;
}

.screenshot-desc:hover p {
    color: #ffffff;
}



/*  Reviews
---------------------*/

.reviews {
    background: #f6f6f6;
    width: 105%;
}

.reviews .heading h2 {
    color: #909090;
}

.reviews .heading .sup-head {
    color: #909090;
}

.reviews .heading .heading-underline {
    background: #303030;
}

.reviews .heading .heading-underline:before,
.reviews .heading .heading-underline:after {
    background: #303030;
}

.clients-reviews {
    margin-top: 100px;
}

.review-content {
    padding: 0px 30px;
}

.review-content .review-description {
    background-color: #fff;
    border-radius: 4px;
    min-height: 160px;
    position: relative;
}

.review-content .review-description p {
    margin-bottom: 30px;
    color: #909090;
    display: inline-block;
}

.review-image {
    margin-left: 20px;
    margin-top: -46px;
    padding-top: 18px;
    position: relative;
}

.review-image img {
    margin: 0 auto;
    width: 80px;
    height: auto;
    border: 4px solid #e3e3e3;
    float: left;
    margin-right: 18px !important;
    position: relative;
}

.review-image h4 {
    font-weight: 700;
    margin-top: 30px;
}



/*  Counter
------------------*/

.counter-content {
    text-align: center;
    display: inline-block;
}

.counter-content span {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: inline-block;
    padding-top: 5px;
}

.counter-number {
    font-size: 48px;
    line-height: 62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}



/*  Pricing
------------------*/

.pricing {
    background: url(assets/images/bg/pricing-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.pricing .heading h2 {
    color: #ffffff;
}

.pricing .heading .sup-head {
    color: #ffffff;
}

.pricing .heading .heading-underline {
    background: #ffffff;
}

.pricing .heading .heading-underline:before,
.pricing .heading .heading-underline:after {
    background: #ffffff;
}

.pricing-overlay {
    background: #252f37;
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.pricing-table {
    text-align: center;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 5px;
    margin-top: 80px;
    border: 1px solid #ff2a40;
}

.package {
    background: #ff2a40;
    padding: 30px 0px;
    border-radius: 3px 3px 0px 0px;
    color: #ffffff;
    margin: 0px;
}

.price-list {
    border-bottom: 1px solid #ff2a40;
    list-style: outside none none;
    margin-top: 10px;
    padding: 20px 0;
}

.price-list li {
    color: #fff;
    font-size: 16px;
    margin-bottom: 11px;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.disabled {
    color: #bbb!important;
    text-decoration: line-through !important;
}

.pricing-table-bottom {
    padding: 0 30px 10px;
}

.pricing-table-bottom:after {
    clear: both;
    content: "";
    display: table;
}

.pricing-table-bottom .price {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 3px;
}

.pricing-table-bottom .price-btn {
    background-color: transparent;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    color: #fff;
    float: right;
    font-weight: 700;
    padding: 7px 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.pricing-table-bottom .price-btn:hover {
    transition: all 0.4s ease-in;
    border: 1px solid #ff2a40;
    background: #ff2a40;
    color: #fff;
}



/*  Subscribe
--------------------*/

.subscribe {
    background: #f6f6f6;
}

.subscribe .heading h2 {
    color: #303030;
}

.subscribe .heading .sup-head {
    color: #909090;
}

.subscribe .heading .heading-underline {
    background: #303030;
}

.subscribe .heading .heading-underline:before,
.subscribe .heading .heading-underline:after {
    background: #303030;
}

.subscribe-form {
    margin-top: 50px;
    text-align: center;
}

.woman_background {
    width: 100%;
    height: 400px;
    padding-top: 35px;
    margin: 0px;
}

.subscribe-input {
    border: medium none;
    border-radius: 35px;
    height: 60px !important;
    max-width: 750px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #303030;
    margin: 0px auto;
}

.subscribe-btn {
    background: #ff2a40;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 15px 75px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn.active {
    color: #ffffff;
    background: #303030;
}



/*  Blog
------------------*/

.blog {
    background: url(assets/images/bg/blog-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.blog .heading h2 {
    color: #ffffff;
}

.blog .heading .sup-head {
    color: #ffffff;
}

.blog .heading .heading-underline {
    background: #ffffff;
}

.blog .heading .heading-underline:before,
.blog .heading .heading-underline:after {
    background: #ffffff;
}

.blog-overlay {
    background: #252f37;
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.blog-post {
    margin-top: 50px;
    position: relative;
    margin-left: 50px;
}

.blog-cats>a {
    background: #ff2a40;
    border-radius: 34px;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.blog-cat {
    color: #909090;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0) url("assets/images/icon-cat.png") no-repeat scroll 0px 2px;
    padding-left: 28px;
}

.blog-cat a {
    color: #909090;
    font-size: 14px;
}

.blog-cat a:hover {
    color: #ff2a40;
}

.blog-cat i {
    margin-right: 10px;
}

.blog-content {
    padding: 30px 30px 35px;
}

.blog-content p {
    color: #909090;
    margin-top: 10px;
}

.blog-date {
    background: rgba(0, 0, 0, 0) url("assets/images/icon-date.png") no-repeat scroll 0px 2px;
    padding-left: 25px;
    color: #909090;
    font-size: 14px;
    margin-right: 10px;
}

.blog-date a {
    color: #909090;
}

.blog-date a:hover {
    color: #ff2a40;
}

.blog-date i {
    margin-right: 10px;
}

.blog-title {
    font-size: 22px;
    min-height: 60px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
    transition: color 0.3s ease 0s;
}



/*  App store
--------------------*/

.app-store {
    background: #f6f6f6;
}

.app-store h2 {
    margin-top: 60px;
    color: #ff2a40;
}

.kite-logo {
    text-align: center;
}

.kite-logo img {
    border: 2px solid #ff2a40;
    border-radius: 10px;
    height: 115px;
    padding: 15px;
}

.app-store-content {
    padding-top: 30px;
}

.app-store-content p {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
    color: #303030;
}

.store-app-download {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.store-app-download a {
    background-color: #ffffff;
    border-radius: 50px;
    color: #ff2a40;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 50px 15px 0px;
    padding: 25px 75px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.store-app-download a:hover,
.store-app-download a:focus,
.store-app-download a.active {
    color: #ffffff;
    background: #303030;
}

.store-app-download a i {
    margin-right: 10px;
}



/*  Contact
----------------*/

.contact {
    background: url(assets/images/bg/contact-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.contact .heading h2 {
    color: #ffffff;
}

.contact .heading .sup-head {
    color: #ffffff;
}

.contact .heading .heading-underline {
    background: #ffffff;
}

.contact .heading .heading-underline:before,
.contact .heading .heading-underline:after {
    background: #ffffff;
}

.contact-overlay {
    background: #252f37;
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.contact-form {
    margin-top: 100px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .custom-input {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #fff;
    height: 55px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.text-area {
    height: 130px!important;
}

.submit-btn {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #ff2a40;
    color: #ffffff;
    text-shadow: none;
    transition: all 0.4s ease;
}

.submit-btn:hover,
.submit-btn:focus,
.submit-btn.active {
    background: #ffffff;
    color: #ff2a40;
}

.email-success,
.email-failed,
.email-loading {
    font-size: 15px;
    display: none;
    text-align: center !important;
    margin: 0 0 10px 0 !important;
}

.email-loading {
    color: #52B8FF;
}

.email-loading img {
    width: 15px;
    position: relative;
    top: -2px;
}

.email-failed {
    color: #FF5252 !important;
}

.icon,
.email-failed .icon {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.email-success {
    color: #56CC35;
}

.email-failed .icon,
.email-success .icon {
    font-size: 20px;
    position: relative;
    top: 5px;
}



/*  Footer
----------------*/

.footer {
    background: #444243;
    margin-right: -90px;
    margin-left: -90px;
}

.footer-social {
    text-align: right;
    padding-left: 200px;
}

.footer-social li {
    display: inline-block;
}

.footer-social li a {
    display: inline-flex;
    text-align: center;
}

.footer-social li a i {
    background: #909090;
    color: #2D3337;
    border-radius: 50px;
    height: 40px;
    margin: 0 5px 5px;
    padding: 9px;
    width: 40px;
}

.footer-social li a i:hover {
    background: #ff2a40;
    color: #fff;
}

.copy-right p {
    color: #ffffff;
    margin: 0px;
    width: 180%;
    text-align: left;
    padding: 10px;
    margin-left: 50px;
}

.copy-right a {
    color: #909090;
}

.copy-right a:hover {
    color: #ff2a40;
}



/*  Blog Page Header
-----------------------*/

.page-heading {
    background: url(assets/images/bg/page-header.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0px;
    padding-top: 150px;
    padding-bottom: 60px;
    border: 0px;
}

.page-heading-overlay {
    background: #ff2a40;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.page-title h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
}

.page-breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important;
    padding: 0;
}

.page-breadcrumb li {
    display: inline;
    padding-right: 5px;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.page-breadcrumb li a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.page-breadcrumb>.active {
    color: #ffffff;
    text-transform: uppercase;
}

.view-comment-top {
    padding-left: 20px;
}

.page-breadcrumb li i {
    color: #fafafa;
    padding-left: 2px;
    padding-right: 5px;
}

.comment-respond a {
    color: #ff2a40!important;
}

.comment-respond a:hover {
    color: #303030!important;
}



/*  Blog Page
---------------------*/

.blog-two-section-home {
    background-color: #f5f5f5;
}

.blog-two-section-home .blog-two-feature-home {
    padding: 0px;
}

.blog-meta-content-inner-home {
    padding: 0px 70px 20px;
}

.blog-meta-content-inner-home h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

.blog-feature-inner-home {
    background-color: #fff;
}

.blog-two-feature-home .blog-meta-inner-home P {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 34px;
}

.blog-img-home {
    margin: 0px 70px 20px;
    position: relative;
}

.blog-img-home img {
    height: auto;
    /*  margin: 0 auto;*/
}



/* Single Blog Page
---------------------*/

.blog-two-section {
    background-color: #f5f5f5;
}

.blog-two-section .blog-two-feature {
    padding-top: 80px;
}

.blog-meta-content-inner {
    padding: 40px 70px;
}

.blog-meta-content-inner h2 {
    margin-bottom: 10px;
}

.blog-feature-inner {
    background-color: #fff;
}

.blog-meta-inner {
    padding-bottom: 20px;
}

.blog-two-feature .blog-meta-inner P {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 34px;
}

.blog-two-feature .blog-tags {
    padding: 45px 0px 35px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.blog-two-feature .blog-tags ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.blog-two-feature .blog-tags span {
    margin-right: 35px;
}

.blog-two-feature .blog-tags li {
    list-style: none;
    display: inline-flex;
}

.blog-two-feature .blog-tags a {
    border: 1px solid #ebebeb;
    color: #b4b4b4;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.blog-two-feature .blog-tags .social-media a {
    border: none;
    padding: 10px;
}

.blog-two-feature .blog-tags .social-media a:hover {
    color: #1f85e8;
}

.blockquote {
    text-align: center;
    color: #ff2a40;
    font-size: 20px;
    max-width: 710px;
    margin: 0 auto;
}

.blockquote i {
    font-size: 36px;
    margin-right: 20px;
    color: #ff2a40;
    opacity: 0.3;
}

.view-comment {
    position: relative;
    margin-top: 30px;
    min-height: auto;
}

.view-comment .view-comment-text {
    margin-left: 122px;
    position: static;
    top: 0;
}

.view-comment .view-comment-text h4 {
    text-transform: uppercase;
    margin-bottom: 18px;
}

.view-comment .view-comment-text span {
    color: #ff2a40;
}

.view-comment img {
    position: absolute;
}

.view-comment1 {
    position: relative;
    margin-top: 30px;
    min-height: auto;
}

.view-comment1 .view-comment-text {
    /*  margin-left: 122px;*/
    position: static;
    top: 0;
}

.view-comment1 .view-comment-text h4 {
    text-transform: uppercase;
    margin-bottom: 18px;
}

.view-comment1 .view-comment-text span {
    color: #ff2a40;
}

.view-comment1 img {
    position: absolute;
}

.no-comments {
    padding-top: 15px;
    font-weight: 600;
}

.feature-post {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    background: #fff;
}

.feature-post h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0px 30px 0px;
}

.feature-post .view-comment-text h4 {
    margin-top: 0px;
}

.feature-post .view-comment-text a {
    color: #a0a0a0;
}

.comment-input {
    border: 1px solid #dadada;
    height: 50px;
    margin-top: 10px;
}

.comment-input:hover,
.comment-input:focus,
.comment-input.active {
    border: 1px solid #dadada;
}

.post-bg {
    background: #f2f2f2;
}

.border-post {
    border: 1px solid #dadada;
    padding: 30px 30px;
}

.border-post span {
    position: relative;
    color: #838383 !important;
    margin-left: 50px;
    font-size: 14px;
    text-transform: none;
}

.border-post span:before {
    content: '';
    position: absolute;
    left: -35px;
    top: 10px;
    width: 15px;
    height: 1px;
    background: #cccccc;
}

.wizard-form {
    background: #F5F5F5;
}

.wizard-form .feature-post {
    /*  padding: 50px 85px;*/
    padding: 50px 70px;
}

.blog-img {
    margin: 0px 70px;
    position: relative;
}

.blog-img img {
    height: auto;
}

.child {
    border-width: 1px 0 0 0;
    border-style: dotted;
}



/* Sign Up
-----------------------*/

.signup {
    background: #f6f6f6;
}

.signup-form {
    padding: 160px 0;
}

.signup-form .custom-input {
    background: #fff;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.form-title h4 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.form-title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #909090;
}

.terms {
    font-size: 12px;
    margin: 15px 0;
}

.terms a {
    font-weight: 700;
}

.checkbox {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.forgot-password {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
}

.checkbox input {
    position: relative;
    top: -2px;
}



/*  Faq
-------------------*/

.faq {
    background: #f6f6f6;
}

.faq .heading h2 {
    color: #303030;
}

.faq .heading .sup-head {
    color: #909090;
}

.faq .heading .heading-underline {
    background: #303030;
}

.faq .heading .heading-underline:before,
.faq .heading .heading-underline:after {
    background: #303030;
}

.accordion-area .accordion-menu {
    margin-top: 100px;
}

.accordion-area .accordion-menu .heading {
    padding-bottom: 90px;
}

.accordion-area .accordion-menu .heading h1:after {
    margin-left: -95px;
}

.accordion-area .accordion-menu .panel {
    border-color: #f3f3f3;
    margin-bottom: 20px;
}

.accordion-area .accordion-menu .panel .panel-heading {
    padding: 0;
    background: #ffffff;
    border: 0;
}

.accordion-area .accordion-menu .panel .panel-heading a {
    padding: 32px;
    color: #303030;
    display: block;
    overflow: hidden;
}

.accordion-area .accordion-menu .panel .panel-heading a h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.accordion-area .accordion-menu .panel .panel-heading a h4 i {
    background: #ff2a40;
    border-radius: 500px;
    color: #ffffff;
    font-size: 10px;
    margin-left: 16px;
    margin-right: 10px;
    padding: 5px 6px 4px;
}

.accordion-area .accordion-menu .panel .panel-body {
    border: 0;
    padding-left: 50px;
    padding-top: 0;
    color: #575757;
    font-size: 16px;
    line-height: 30px;
    margin-top: -14px;
    z-index: 9999;
}



/*  Wordpress core
-------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

.gallery-caption {
    display: block;
}

.bypostauthor {
    display: block;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.admin-bar .header {
    top: 32px;
}

.gallery-item {
    display: inline-block;
    padding: 1.79104%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}




/*  Widget
-------------------*/

.sidebar_widget {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar_title {
    float: left;
    width: 100%;
}

.sidebar_widget h4 {
    float: left;
    margin: 0 0 20px;
}

.widget_categories ul,
.widget_archive ul,
.widget_meta ul,
.widget_pages ul,
.widget_nav_menu ul,
.widget_recent_entries ul,
.widget_recent_comments ul {
    float: left;
    margin: 0;
    padding: 5px 10px 5px 0;
    width: 100%;
}

.widget_archive ul li,
.widget_categories ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_rss ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_nav_menu ul li {
    list-style: outside none none;
}

.widget_archive li,
.widget_meta li,
.widget_recent_entries li,
.widget_recent_comments li {
    float: left;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.widget_categories li ul li,
.widget_pages li ul li {
    text-indent: 20px;
}

.widget_pages li ul li ul li,
.widget_categories li ul li ul li {
    text-indent: 40px;
}

.widget_categories li a,
.widget_archive li a,
.widget_meta li a,
.widget_pages li a,
.widget_nav_menu li a,
.widget_recent_entries li a,
.widget_recent_comments li a {
    color: #303030;
}

.widget_categories li a:hover,
.widget_archive li a:hover,
.widget_meta li a:hover,
.widget_pages li a:hover,
.widget_nav_menu li a:hover {
    color: #ff2a40;
}

.widget_archive li span {
    line-height: 30px;
    padding-left: 5px;
}

.margin_t4 {
    float: left;
    margin-top: 40px;
    width: 100%;
}

.widget_archive select {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #303030;
    float: left;
    font-size: 13px;
    height: 30px;
    max-width: 100%;
    padding: 5px 10px;
}

.widget_archive option,
.widget_categories option,
option {
    padding: 5px 10px;
}

.widget_calendar table {
    border-collapse: collapse;
    border-radius: 5px;
    border-spacing: 0;
    margin-bottom: 15px;
    width: 100%;
}

.widget_calendar caption {
    font-size: 14px;
    padding: 5px;
    text-align: left;
}

.widget_calendar th {
    color: #303030;
    background: #f8f8f8 none repeat scroll 0 0;
    font-weight: 700;
}

.widget_calendar td,
.widget_calendar th {
    padding: 4px 3px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
}

.widget_categories li span {
    line-height: 30px;
    padding-left: 5px;
}

.widget_categories select {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #303030;
    float: left;
    font-size: 13px;
    height: 30px;
    max-width: 100%;
    padding: 5px 10px;
}

.widget_pages ul li,
.widget_categories li {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.widget_pages ul li a,
.widget_categories li a {
    display: block;
    padding: 10px 0;
}

.widget_pages ul li a,
.widget_categories li a {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
}

.widget_recent_comments ul,
.widget_rss ul,
.widget_recent_entries ul {
    padding: 0;
}

.widget_recent_entries ul li a,
.widget_rss ul li a {
    color: #606060;
}

.widget_recent_entries ul li a:hover,
.widget_rss ul li a:hover {
    color: #ff2a40;
}

.widget_rss .rsswidget {
    font-weight: 600;
}

.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    font-size: 14px;
    font-style: normal;
    line-height: 28px;
}

.widget_rss li {
    margin-bottom: 10px;
}

#site-searchform {
    margin: 0;
    padding: 0;
}

#site-searchform #s {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #999;
    float: left;
    font-size: 13px;
    height: 40px;
    padding: 5px 10px;
    width: 70%;
    border-radius: 0;
    box-shadow: none;
}

#site-searchform #searchsubmit {
    background: #ff2a40;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 40px;
    width: 30%;
}

#site-searchform #searchsubmit .fa-search {
    color: #fff;
}

.widget_text img {
    height: auto;
    max-width: 100%;
}

.widget_text select {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #303030;
    float: left;
    font-size: 13px;
    height: 30px;
    max-width: 100%;
    padding: 5px 10px;
}

.widget_tag_cloud a {
    background-color: #ff2a40;
    border-radius: 2px;
    color: #fff;
    float: left;
    font-size: 13px!important;
    line-height: 25px;
    margin: 0 6px 6px 0;
    padding: 5px 12px;
}

.widget_tag_cloud a:hover {
    background-color: #303030;
}

.recent_posts_list li a {
    color: #303030;
}

.recent_posts_list li a:hover {
    color: #ff2a40;
}

.rsswidget {
    color: #303030;
}

ul.recent_posts_list {
    padding: 0;
}

.recent_posts_list li {
    list-style: none;
    margin-bottom: 10px;
}

.widget_nav_menu ul li a {
    border-bottom: 1px solid #d9d9d9;
    float: left;
    margin: 0;
    width: 100%;
    padding: 10px 0;
}

.widget_nav_menu li ul li {
    text-indent: 20px;
}

.widget_nav_menu li ul li ul li {
    text-indent: 40px;
}

.widget_nav_menu li ul li ul li ul li {
    text-indent: 60px;
}



/*  Pagination
-------------------*/

.pagination {
    clear: both;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
    padding: 10px 0 10px 70px;
}

.pagination b {
    color: #303030;
    float: left;
    font-weight: normal;
    margin: 0 5px 2px 0;
    padding: 0 10px;
}

.pagination span.navlinks {
    background-color: #ff2a40;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 7px 10px;
    text-transform: uppercase;
}

.pagination a.navlinks {
    background-color: #303030;
    border-radius: 3px;
    color: #fafafa;
    font-size: 12px;
    font-weight: 600;
    padding: 7px 10px;
    text-transform: uppercase;
}

.pagination a.navlinks:hover {
    background-color: #ff2a40;
    color: #fff;
}




/*  Custom
-------------------*/

.sidebar {
    background: #fff;
    padding: 0px 20px 0px 0px;
}

.bg-white {
    background: #fff;
    padding-top: 80px;
}

.blog-two-section-home .sticky:before {
    content: "Feature";
    background: #ff2a40;
    border-radius: 34px;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 15px;
    position: absolute;
    right: 100px;
    z-index: 1;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    border-spacing: 0;
    margin-bottom: 15px;
    width: 100%;
}

th {
    color: #303030;
    background: #f8f8f8 none repeat scroll 0 0;
    font-weight: 700;
}

td,
th {
    padding: 4px 3px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
}

td a,
th a {
    color: #303030;
}

td a:hover,
th a:hover {
    color: #ff2a40;
}

blockquote {
    border-left: 5px solid #ff2a40;
    font-size: 15px;
    margin: 0 0 20px;
    padding: 10px 20px;
    font-style: italic;
}

dl {
    margin: 0 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px;
}

address {
    font-style: italic;
}

img {
    height: auto;
    max-width: 100%;
    height: 2vw;
    margin: 14px;
    margin-left: 185px;
}

.not-found {
    padding: 0 70px;
}

.wpb_content_element {
    margin-bottom: 0!important;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #ff2a40 none repeat scroll 0 0;
    border: 1px solid #ff2a40;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding: 7px 30px;
    text-shadow: none;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #121212 none repeat scroll 0 0;
    border: 1px solid #121212;
}

.comment-navigation {
    margin-top: 10px;
}

.blog-meta {
    margin-bottom: 10px;
}



/* CRISTHIAN */

.container.row {
    background: linear-gradient(to right, #040767, #356543);
    margin: 0;
    width: 100%;
    height: 4vw;
}

 .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    }
    .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }

    .text-footer{
        color: #ffffff;
        width: 100%;
        margin-left: 660px;
        margin-top: -45px;
    }
    .text-dosrusos{
        color: #ffffff;
        margin-left: 1095px;
        margin-top: -52px;
    }
    .punto-map{
        padding-left: 40px;
        margin-top: 25px;
    }
    .phone-call{
        padding-left: 340px;
        margin-top: -43px;
    }
    .mail-send{
        padding-left: 590px;
        margin-top: -39px;
    }
    .text-icons{
        width: 16%;
        margin-top: -40px;
        margin-left: 260px;
        color: #ffffff;
    }
    .text-icons2{
        width: 11%;
        margin-top: -50px;
        margin-left: 565px;
        color: #ffffff;
    }
    .text-icons3{
        margin-top: -52px;
        margin-left: 815px;
        color: #ffffff;
    }
    .title-backhand{
        color: #ccc0c0;
        text-align: center;
    }
    .logo-respon{
        height:30px; 
        margin-left: 200px !important;
        margin: 0px;
    }
    .logo-nuevo{ 
        height:30px; 
        margin-left: 100px;
        margin-top: 0px;
    }
    .squares-img{
        height: 150px;
        margin: 0px;
        margin-left: 140px;
    }
    .status-number{
        margin-left: -90px;
        width: 116%;
    }
    .container{

    }